[submodule "yeet"]
	path = yeet
	url = git@github.com:conditionull/my-yeet-config.git
[submodule "waybar"]
	path = waybar
	url = git@github.com:conditionull/i-do-it-my-waybar.git
[submodule "mako"]
	path = mako
	url = ../mako/
[submodule "screen-rec-selector"]
	path = screen-rec-selector
	url = https://github.com/conditionull/screen-rec-selector
